header
    .header
        .brand
            img.img-logo(src='./img/icon/logo.svg' alt='#')
            p Helping Hand Foundation
        .navlink
            a(href='#home') Home
            a(href='#vision') Vision
            a(href='#discover') Discover
            a(href='#contact-us') Contact Us