extends base

block content
    main.second-home.thankyou
      .second-home__container
        .image-container
          img(src='img/icon/logo.svg' alt='donation illustration')
        .text-container
          h3 Thank you For Contributing to the Sparks Foundation.